DATABASE_URL=
DB_POOL_MAX=                    # max PostgreSQL connection pool limit
BUFFER_THRESHOLD=               # threshold to prefetch jobs into buffer before it gets empty
BUFFER_SIZE=                    # prefetched amount of jobs to reduce db calls
WORKER_CONCURRENCY=             # determines no. of concurrent jobs by each worker
WORKER_COUNT=                   # determines no. of nodejs processes
IDLE_POLL_INTERVAL_MS=          # determines the interval for calling db for new available jobs
JOB_LEASE_TIMEOUT_MS=           # determines the interval after which a job becomes stale 
JOB_RECOVERY_INTERVAL_MS=       # determines the interval for recovering stucked jobs